#email-form {
    margin: 20px;
    font-size: 18px;
}
#email-form input, #email-form button {
    margin: 4px;
    border: 1px solid black;
    background-color: white;
    outline: none;
    font-size: 18px;
}