#navbar {
    background-color: rgb(20, 20, 20);
    padding-top: 20px;
    padding-bottom: 20px;
}
#navbar a {
    color: #eeeeee;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
#navbar a:hover {
    background-color: rgb(35, 35, 35);
}
#navbar a.selected {
    background-color: rgb(50, 50, 50);
}